@use "./config";
@use "./mixin";

.your-users{
    position: relative;
}

.your-users::before,
.your-users::after{
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    height: 27vw;
    background-image: url("../images/mobile-images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-100%);
}

.your-users::after{
    background-image: url("../images/mobile-images/bg-section-bottom-mobile-2.svg");
    top: auto;
    bottom: 0;
    height: 27vw;
    max-height: 200px;
    transform: translateY(100%);
}

@include mixin.screenMinWidthStyle(config.$first-break-point){

    .your-users::before{
        background-image: url("../images/desktop-images/bg-section-top-desktop-2.svg");
        height: 140px;
        background-size: cover;
    }

    .your-users::after{
        background-image: url("../images/desktop-images/bg-section-bottom-desktop-2.svg");
        background-size: cover;
    }
}

